.country-style{
    border: 2px solid brown;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    margin: 2px;
}
.cName{
    color: blueviolet;
    font-size: 20px;
}
#all-country{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}